if: tag IS present OR type = pull_request OR (branch = master AND type = push)   # we only CI the master, tags and PRs
language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

# Enable 3.7 without globally enabling sudo and dist: xenial for other build jobs
matrix:
  include:
    - python: 3.7
      dist: xenial
      sudo: true

addons:
  apt:
    packages:
      - graphviz

install:
  - pip install -U pip setuptools
  - python setup.py sdist
  - pip install dist/pydot-*.tar.gz
  - pip install -r requirements.txt

script:
  - cd test/
  - pytest -vvv

# after_success:
#   - coveralls
