# SPDX-FileCopyrightText: 2024 pydot contributors
#
# SPDX-License-Identifier: MIT

include *.md
include *.txt
include LICENSES/*.txt
include ChangeLog
include REUSE.toml
include src/pydot/py.typed
prune .github
exclude .git*
graft test
prune test/from-past-to-future
global-exclude test.svg
exclude .coveragerc
