name: CI

on:
  push:
    branches: ["master"]
    paths-ignore:
      - "**/README.md"
      - "LICENSE"
      - "ChangeLog"
  pull_request:
    branches: ["*"]
    paths-ignore:
      - "**/README.md"
      - "LICENSE"
      - "ChangeLog"
  workflow_dispatch:

concurrency:
  group: CI-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: "${{ matrix.system.os }}, Py${{ matrix.python-version }}"
    runs-on: "${{ matrix.system.os }}-latest"
    continue-on-error: ${{ matrix.system.can-fail }}

    strategy:
      matrix:
        system:
          - {os: ubuntu, can-fail: false}
          - {os: windows, can-fail: true}
          - {os: macos, can-fail: false}
        python-version:
          - "3.12"
          - "3.11"
          - "3.10"
          - "3.9"
          - "3.8"
          - "3.7"

    steps:
      - uses: "actions/checkout@v4"
        with:
          fetch-depth: 0
      - uses: "actions/setup-python@v5"
        with:
          python-version: "${{ matrix.python-version }}"
          cache: "pip"
      - name: "Set up TEST_ERROR_DIR"
        shell: bash
        run: |
          mkdir test_errors
          if [ "${{ runner.os }}" = "Windows" ]; then
            echo "TEST_ERROR_DIR=$(cygpath -w $(realpath ./test_errors))" >> "$GITHUB_ENV"
          else
            echo "TEST_ERROR_DIR=$(pwd -P)/test_errors" >> "$GITHUB_ENV"
          fi
      - name: "Install graphviz (Linux)"
        if: runner.os == 'linux'
        run: sudo apt install graphviz
      - name: "Install graphviz (Windows)"
        if: runner.os == 'windows'
        run: choco install graphviz
      - name: "Install graphviz (macOS)"
        if: runner.os == 'macos'
        run: brew install graphviz
      - name: "Install Python dependencies"
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install tox tox-gh
      - name: "Setup tests"
        run: tox -vv --notest
      - name: "Run tests"
        run: tox --skip-pkg-install
      - name: "Prepare error artifacts"
        if: ${{ failure() }}
        run: cp test/compare_images.sh "${{ env.TEST_ERROR_DIR }}"
      - name: "Publish error artifacts"
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: test-errors-${{ runner.os }}-${{ matrix.python-version }}
          path: ${{ env.TEST_ERROR_DIR }}
          if-no-files-found: ignore
